﻿@model assignmentProject.Models.ViewModels.ActorEdit
@{
    ViewBag.Title = "Edit";
}
<h2>Edit Actor @Model.actor.ActorFName</h2>

<form method="POST" action="/Actor/Edit/@Model.actor.ActorID">
    <div>
        <label >Actor First Name</label><br/>
        <input type="text" value="@Model.actor.ActorFName" id="ActorFName" name="ActorFName" />
    </div>
    <div>
        <label>Actor Last Name</label><br/>
        <input type="text" value="@Model.actor.ActorLName" id="ActorLName" name="ActorLName" />
    </div><br/>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>

