﻿@model IEnumerable<assignmentProject.Models.Actor>
@{
    ViewBag.Title = "List";
}

<h2>List of Actors:</h2>


<div>
    @Html.ActionLink("Add a New Actor", "New", "Actor")
</div>
<div>
    @foreach (var actor in Model)
    {

        <div>


            <div>
                <label>@Html.ActionLink("Actor Name : " +actor.ActorFName + actor.ActorLName, "Show/" + actor.ActorID)</label>

                @*<p>@actor.ActorLName</p>*@
                <P>My List of Movies   : @actor.Movies.Count()</P>
                <span>
                    @Html.ActionLink("Delete", "Delete/" + actor.ActorID)
                </span>
            </div>
            <div class="clearfix"></div>
        </div>

    }
</div>


