﻿@model assignmentProject.Models.ViewModels.ActorEdit
@{
    ViewBag.Title = "New";
}

<h2>Add New Actor Name</h2>

<form method="POST" action="/Actor/New">
    <div>
        <label>Actor First Name</label><br/>
        <input type="text" id="ActorFName_New" name="ActorFName_New" />
    </div>
    <div>
        <label>Actor Last Name</label><br/>
        <input type="text" id="ActorLName_New" name="ActorLName_New" />
    </div><br/>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>

