﻿@model assignmentProject.Models.Actor
@{
    ViewBag.Title = "Show";
}

<h2>Actor Name :: @Model.ActorFName  @Model.ActorLName</h2>
@*<h2>@Model.ActorLName</h2>*@

<div>

    @Html.ActionLink("Edit", "Edit/" + Model.ActorID)
</div>

<div>

    @Html.ActionLink("Delete", "Delete/" + Model.ActorID)

</div>

<p><b> @Model.ActorFName  @Model.ActorLName </b> : List of Movies</p>

        @foreach (var movie in Model.Movies)
        {
            <span>@Html.ActionLink(movie.MovieName, "Show/" + movie.MovieID, "Movie")</span><br/><br/>
        }

        @Html.ActionLink("Add a movie", "New", "Movie")




        <div>
            <div class="clearfix"></div>
        </div>
