﻿@model assignmentProject.Models.ViewModels.MovieEdit
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Movie :: @Model.movie.MovieName</h2>

<form method="POST" action="/Movie/Edit/@Model.movie.MovieID">
    <div>
        <label>Movie Name</label>
        <input type="text" value="@Model.movie.MovieName" id="MovieName" name="MovieName" />
    </div>
    <div>
        <label >Actor Name</label>
        <select id="MovieActor" name="MovieActor">
            @foreach (var actor in Model.actors)
            {
                string current = "";
                if (actor.ActorID == Model.movie.actor.ActorID)
                {
                    current = "selected";
                }
                <option value="@actor.ActorID" @current>@actor.ActorFName @actor.ActorLName</option>
            }
        </select>
    </div><br/>
    <div >
        <input type="submit" value="Submit" />
    </div>
</form>


