﻿@model IEnumerable<assignmentProject.Models.Movie>

@{
    ViewBag.Title = "List";
}

<h2>List of Movies</h2>
<div class="recadd">
    @Html.ActionLink("Add New Movie to the List", "New")
</div>

<div>
    @foreach (var Movies in Model)
    {
        <div>
            <div>
                <label>@Html.ActionLink(Movies.MovieName, "Show/" + Movies.MovieID)</label><br/>

                <span>

                    <a href="@Url.Action("Delete/"+Movies.MovieID)">Delete</a>


                </span>
            </div>

            <div class="clearfix"></div>

        </div>


    }




</div>


