﻿@model IEnumerable<assignmentProject.Models.Actor>
@{
    ViewBag.Title = "New";
}

<h2>Add New Movie in list</h2>

<form method="POST" action="/Movie/New">
    <div>
        <label>Movie Name</label><br/>
        <input type="text" id="MovieNameNew" name="MovieNameNew" />
    </div><br/>
    <div>
        <label>Actor Name</label><br/>
        <select id="MovieActorNew" name="MovieActorNew">
            @foreach (var actor in Model)
            {
                <option value="@actor.ActorID">@actor.ActorFName @actor.ActorLName </option>
            }
        </select>
    </div><br/>

    <div>
        <input type="submit" value="Submit" />
    </div>


</form>


